<!DOCTYPE html>
<html>
<head>
	<title>...</title>
	<link rel="stylesheet" type="text/css" href="dinogame.css">
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 

</head>
<body>
<div>

<span class="score"> Score: </span>
<span class="hiscore"> Hi Score: </span> 
</div>
<div>
	<canvas height="550px" width="1200px">
	
	</canvas>
</div>

<script type="text/javascript" src="dinogame.js"></script>
</body>
</html>