<!DOCTYPE html>
<html>
<head>
	<title>Sudokuxminesweeper</title>
	<link rel="stylesheet" type="text/css" href="Faultygame.css">
</head>

<body>
<div class="header">
	<h3>SUDOKUxMINESWEEPER</h3>
</div>

<div class="options">
	<div class="container">
		<button id="play">NEW GAME</button>
		<span class="status">GOOD LUCK</span>
		<button id="easy">EASY</button>
		<button id="hard">HARD</button>
		<button id="help">HELP</button>
		<button id="submit">SUBMIT</button>
	</div>
</div>

<canvas height="550px" width="1200px"></canvas>


<script type="text/javascript" src="Faultygame.js"></script>
</body>
</html>